# 4.6.1  Combining & Exporting Data

### This script contains the following points:

### 1. Importing Libraries / dataframes - df_ords and df_ords_prior

### 2. Shape of Dataframes - df_ords and df_ords_prior

### 3. Merging Dataframes - df_ords and df_ords_prior

### 4. Shape of New Dataframe  - df_merged_large

### 5. Export New Dataframe - Pickle Format

## 1. Importing Libraries/ Dataframes

In [3]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\Rujii\Desktop\CareerFoundry\Section 4\2020 InstaCart Bucket Analysis'

In [5]:
#Import dataframe orders_products_prior

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# import dataframe orders.csv

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [8]:
df_ords

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,0,2539329,1,1,2,8,NaN,First Order
1,1,1,2398795,1,2,3,7,15.0,Repeat Customer
2,2,2,473747,1,3,3,12,21.0,Repeat Customer
3,3,3,2254736,1,4,4,7,29.0,Repeat Customer
4,4,4,431534,1,5,4,15,28.0,Repeat Customer
...,...,...,...,...,...,...,...,...,...
3421078,3421078,3421078,2266710,206209,10,5,18,29.0,Repeat Customer
3421079,3421079,3421079,1854736,206209,11,4,10,30.0,Repeat Customer
3421080,3421080,3421080,626363,206209,12,1,12,18.0,Repeat Customer
3421081,3421081,3421081,2977660,206209,13,1,12,7.0,Repeat Customer
3421082,3421082,3421082,272231,206209,14,6,14,30.0,Repeat Customer

# 2. The shape of the dataframes

In [9]:
df_ords.shape

(3421083, 9)

In [10]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords = df_ords.drop(columns=['Unnamed: 0.1']) #deleted random unnamed column

In [12]:
df_ords = df_ords.drop(columns=['Unnamed: 0']) #deleted random unnamed column

In [13]:
df_ords

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,First Order
1,2398795,1,2,3,7,15.0,Repeat Customer
2,473747,1,3,3,12,21.0,Repeat Customer
3,2254736,1,4,4,7,29.0,Repeat Customer
4,431534,1,5,4,15,28.0,Repeat Customer
...,...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0,Repeat Customer
3421079,1854736,206209,11,4,10,30.0,Repeat Customer
3421080,626363,206209,12,1,12,18.0,Repeat Customer
3421081,2977660,206209,13,1,12,7.0,Repeat Customer
3421082,272231,206209,14,6,14,30.0,Repeat Customer

In [14]:
df_ords.shape

(3421083, 7)

# 3. Merge dataframes df_ords and df_ords_prior together

In [15]:
# We can see the shapes are different for df_ords and df_ords.shape however we can merge the data on order_id

In [16]:
# Merge data frames df_ords and df_ords.shape

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [17]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,First Order,196,1,0,both
1,2539329,1,1,2,8,NaN,First Order,14084,2,0,both
2,2539329,1,1,2,8,NaN,First Order,12427,3,0,both
3,2539329,1,1,2,8,NaN,First Order,26088,4,0,both
4,2539329,1,1,2,8,NaN,First Order,26405,5,0,both

In [18]:
# change the datatype to category (from Object). This will save you memory [from careerfoundary forum]

df_merged_large.dtypes

order_id                     int64
user_id                      int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
first_order                 object
product_id                   int64
add_to_cart_order            int64
reordered                    int64
_merge                    category
dtype: object

In [19]:
df_merged_large['first_order'] = df_merged_large ['first_order'].astype ('category')

In [20]:
df_merged_large.dtypes

order_id                     int64
user_id                      int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
first_order               category
product_id                   int64
add_to_cart_order            int64
reordered                    int64
_merge                    category
dtype: object

# 4. Shape of New Dataframe - df_merged_large¶

In [21]:
df_merged_large.shape

(32434489, 11)

# 5. Export df_merged_large to pickle format

In [22]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))