# 4_9_Intro_to_Data_Visualization_with_Python_Part_1_Data_Wrangling_Customer_Table

### This script contains the following points:

### 1. Importing Libraries

### 2. Import Dataset

### 3. Renaming Columns

### 4. Data Consistency Checks

### 5. Finding Missing Values

### 6. Finding Duplicates

### 7. Importing Dataframe - orders_products_merged_derived_flags

### 8. Changing Data Types due to RAM issue/ Sample dataframes

### 9. Merging Dataframes

### 10. Export Dataframe as a Pickle

# 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 2. Import Dataset

In [2]:
path = r'/content/drive/MyDrive/Careerfoundary'

In [3]:
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data','customers.csv'))

In [4]:
#Check the headings and see if information looks out of place
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
#Check the shape of the dataframe
df_customers.shape

(206209, 10)

In [6]:
#Check the data types
df_customers.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [7]:
#Check descriptive analysis of numerical columns
df_customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

# 3. Renaming Columns

In [8]:
# Rename first name column due to format
df_customers.rename(columns={'First Name': 'first_name'}, inplace=True)

In [9]:
# Renamed surname column - due to spelling
df_customers.rename(columns={'Surnam': 'surname'}, inplace=True)

In [10]:
# Renamed State - due to Caps
df_customers.rename(columns={'STATE': 'state'}, inplace=True)

In [11]:
# Rename fam_status to more relative name
df_customers.rename(columns={'fam_status': 'marital_status'}, inplace=True)

In [12]:
# Rename Age - due to Caps
df_customers.rename(columns={'Age': 'age'}, inplace=True)

In [13]:
# Rename Gender - due to Caps
df_customers.rename(columns={'Gender': 'gender'}, inplace=True)

In [14]:
df_customers.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'marital_status', 'income'],
      dtype='object')

In [15]:
# All column names have been formatted

# 4. Data Consistency Checks

In [16]:
# Search for mixed data types

for col in df_customers.columns.tolist():
    weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df_customers[weird]) > 0:
        print(col)

first_name

In [17]:
# We have inconsistent data type for first_name, I have changed the data type from object to string
df_customers['first_name'] = df_customers['first_name'].astype('str')

In [18]:
#rerun code to see mixed datatype columns
for col in df_customers.columns.tolist():
    weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df_customers[weird]) > 0:
        print(col)

In [19]:
#We now have no mixed datatype columns

# 5. Finding Missing Values

In [20]:
df_customers.isnull().sum()

user_id           0
first_name        0
surname           0
gender            0
state             0
age               0
date_joined       0
n_dependants      0
marital_status    0
income            0
dtype: int64

In [21]:
#There are no column with missing values

# 6. Finding Duplicates

In [22]:
# We will make a new dataframe that only contains duplicates

df_dups = df_customers[df_customers.duplicated()]

In [23]:
# We can see there are no duplicates in this dataframe
df_dups

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, n_dependants, marital_status, income]
Index: []

# 7. Importing Dataframe - orders_products_merged_derived_flags

In [24]:
# Import orders_products_merged_derived_flags

df_orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived_flags.pkl'))

In [25]:
df_orders_products_merged.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,Busiest_Days(plural),busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,customer_frequency,frequency_flag
0,2539329,1,1,2,8,NaN,First Order,196,1,0,...,Mid-range product,Regularly busy,Regular busy,Average orders,10,New customer,6.367535,Low Spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,Repeat Customer,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367535,Low Spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,Repeat Customer,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367535,Low Spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,Repeat Customer,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367535,Low Spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,Repeat Customer,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367535,Low Spender,20.5,Non-frequent customer

In [26]:
# Check the shape of dataframe df_orders_products_merged and df_customers

In [27]:
df_orders_products_merged.shape

(32404161, 25)

In [28]:
df_customers.shape

(206209, 10)

In [29]:
# As the shapes of the dataframes a quite different, we will do a merge.
# Check the columns names for df_orders_products_merged and df_customers to see which columns we can merge the dataframes on.

In [30]:
df_customers.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'marital_status', 'income'],
      dtype='object')

In [31]:
df_orders_products_merged.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', '_merge', 'price_range_loc',
       'busiest_day', 'Busiest_Days(plural)', 'busiest_period_of_day',
       'max_order', 'loyalty_flag', 'mean_price', 'spending_flag',
       'customer_frequency', 'frequency_flag'],
      dtype='object')

In [32]:
# Drop the '_merge' column that was genrated from the previous merge in the last excercise

df_orders_products_merged = df_orders_products_merged.drop(columns=['_merge'])

In [33]:
# Check the column is dropped

df_orders_products_merged.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'Busiest_Days(plural)', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'mean_price', 'spending_flag', 'customer_frequency',
       'frequency_flag'],
      dtype='object')

In [34]:
# Check the data types of order_id in both dataframes, they should be the same

In [35]:
df_customers.dtypes['user_id']

dtype('int64')

In [36]:
df_orders_products_merged.dtypes['user_id']

dtype('int64')

In [37]:
# Both dataframes have user_id so we will merge them on this column

# 8. Changing Data Types due to RAM issue/ Sample dataframes

In [38]:
df_customers['gender'] = df_customers['gender'].astype('category')

In [39]:
df_customers['state'] = df_customers['state'].astype('category')

In [40]:
df_customers['marital_status'] = df_customers['marital_status'].astype('category')

In [41]:
df_orders_products_merged.dtypes

order_id                     int32
user_id                      int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
first_order               category
product_id                   int32
add_to_cart_order            int32
reordered                     int8
product_name                object
aisle_id                     int32
department_id                int32
prices                     float16
price_range_loc             object
busiest_day                 object
Busiest_Days(plural)        object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
mean_price                 float32
spending_flag               object
customer_frequency         float64
frequency_flag              object
dtype: object

In [42]:
df_orders_products_merged['busiest_day'] = df_orders_products_merged['busiest_day'].astype('category')

In [43]:
df_orders_products_merged['Busiest_Days(plural)'] = df_orders_products_merged['Busiest_Days(plural)'].astype('category')

In [44]:
df_orders_products_merged['loyalty_flag'] = df_orders_products_merged['loyalty_flag'].astype('category')

In [45]:
df_orders_products_merged['spending_flag'] = df_orders_products_merged['spending_flag'].astype('category')

In [46]:
df_orders_products_merged['frequency_flag'] = df_orders_products_merged['frequency_flag'].astype('category')

In [47]:
df_orders_products_merged['order_id'] = df_orders_products_merged['order_id'].astype('int16')

In [48]:
df_orders_products_merged['user_id'] = df_orders_products_merged['user_id'].astype('int8')

In [49]:
df_orders_products_merged['order_number'] = df_orders_products_merged['order_number'].astype('int8')

In [50]:
df_orders_products_merged['orders_day_of_week'] = df_orders_products_merged['orders_day_of_week'].astype('int8')

In [51]:
df_orders_products_merged['order_hour_of_day'] = df_orders_products_merged['order_hour_of_day'].astype('int8')

In [52]:
df_orders_products_merged['product_id'] = df_orders_products_merged['product_id'].astype('int16')

In [53]:
df_orders_products_merged['add_to_cart_order'] = df_orders_products_merged['add_to_cart_order'].astype('int8')

In [54]:
df_orders_products_merged.dtypes

order_id                     int16
user_id                       int8
order_number                  int8
orders_day_of_week            int8
order_hour_of_day             int8
days_since_prior_order     float64
first_order               category
product_id                   int16
add_to_cart_order             int8
reordered                     int8
product_name                object
aisle_id                     int32
department_id                int32
prices                     float16
price_range_loc             object
busiest_day               category
Busiest_Days(plural)      category
busiest_period_of_day       object
max_order                    int64
loyalty_flag              category
mean_price                 float32
spending_flag             category
customer_frequency         float64
frequency_flag            category
dtype: object

In [55]:
# As I still cannot merge the dataframes due to the RAM, I have taken a 40% sample of each dataframe (The highest percentage I could do)

In [56]:
df_sampled_orders_product = df_orders_products_merged.sample(frac=0.40, random_state = 80)

In [57]:
df_sampled_orders_product.shape

(12961664, 24)

In [58]:
df_sampled_customer = df_customers.sample(frac=0.40, random_state = 80)

In [59]:
df_sampled_customer.shape

(82484, 10)

# 9. Merging Dataframes

In [60]:
# Merge the dataframes together on user_id

df_orders_product_customer_merge = df_sampled_customer.merge(df_sampled_orders_product, on = 'user_id', indicator = True)

In [61]:
df_orders_product_customer_merge.shape

(2771091, 34)

In [62]:
df_orders_product_customer_merge.head()

,user_id,first_name,surname,gender,state,age,date_joined,n_dependants,marital_status,income,...,busiest_day,Busiest_Days(plural),busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,customer_frequency,frequency_flag,_merge
0,90,Kimberly,Kent,Female,Pennsylvania,60,3/25/2017,1,married,50952,...,Busiest day,Busiest days,Most orders,42,Loyal customer,8.075028,Low Spender,8.0,Frequent customer,both
1,90,Kimberly,Kent,Female,Pennsylvania,60,3/25/2017,1,married,50952,...,Regularly busy,Regular busy,Most orders,12,Regular customer,7.716068,Low Spender,11.0,Regular customer,both
2,90,Kimberly,Kent,Female,Pennsylvania,60,3/25/2017,1,married,50952,...,Regularly busy,Regular busy,Most orders,84,Loyal customer,7.991170,Low Spender,4.0,Frequent customer,both
3,90,Kimberly,Kent,Female,Pennsylvania,60,3/25/2017,1,married,50952,...,Regularly busy,Slowest days,Most orders,44,Loyal customer,8.079674,Low Spender,7.0,Frequent customer,both
4,90,Kimberly,Kent,Female,Pennsylvania,60,3/25/2017,1,married,50952,...,Regularly busy,Busiest days,Most orders,5,New customer,6.124142,Low Spender,20.0,Regular customer,both

In [63]:
df_orders_product_customer_merge.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'marital_status', 'income', 'order_id',
       'order_number', 'orders_day_of_week', 'order_hour_of_day',
       'days_since_prior_order', 'first_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', 'price_range_loc', 'busiest_day',
       'Busiest_Days(plural)', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'mean_price', 'spending_flag', 'customer_frequency',
       'frequency_flag', '_merge'],
      dtype='object')

In [64]:
# Check inner join value counts
df_orders_product_customer_merge['_merge'].value_counts()

_merge
both          2771091
left_only           0
right_only          0
Name: count, dtype: int64

# 10. Export Dataframe as a Pickle

In [65]:
df_orders_product_customer_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_product_customer_merge_sample.pkl'))